body {
    margin :0;
    padding :0 ;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.973);
}
.heading{
    color:#27099f;
    text-align :center;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Gill Sans';
    
}

.img{
    border-radius: 50%;
    text-align: center;
    height: 250px;
    width:250px;
    
}
